$color: #fff

body
	background: $color
	margin: 0

.container 
	background-image: url(../img/img_back.jpg)
	background-repeat: no-repeat
	background-position: center center
	
	background-size: cover
	height: 100vh
	width: auto
